body{
  background-color: white;
}

.spctop{
  margin-top: 60px;
}

/* MODALS */
.modal-content{
  padding:40px!important;
}

.modal-title{
  color: #A52A2A;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}

.modal-details{
  font-family: 'Roboto Condensed', sans-serif!important;
  color: black!important;
  font-size: 20px!important;
}

/* SELECT */
.select-wrapper{
  font-family: 'Hind', sans-serif!important;
}

/* TABLE */

table,td{
  border: 1px solid rgb(217, 217, 217)!important;
}

th{
  font-family: 'Roboto', sans-serif;
  color: white;
}

thead{
  background-color: #333BA5;
}

td{
  font-family: 'Hind', sans-serif;
  font-size: 15px;
}


/* BUTTONS */
.edit, .submit-btn{
  background-color: #333BA5;
  font-family: 'Hind', sans-serif;
}

.del, .close-btn{
  font-family: 'Hind', sans-serif;
  background-color: #A52A2A;
}

.edit:hover, .edit:focus, .submit-btn:hover, .submit-btn:focus{
  background-color: #3942b6;
}

.del:hover, .del:focus, .close-btn:hover, .close-btn:focus{
  background-color: #bd3232;
}

/* CARD-PANEL */
.view-card{
  margin-top: 100px;
  width: 100%;
  height: 250px;
  background: white;
}

.view-card-title{
  margin-top:-30px;
  height: 70px;
  background: linear-gradient(to right, #333BA5, #8289db);
}

.view-title{
  color:white;
  margin-top: -10px;
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.view-content{
  margin-top: 50px;
}

@media screen and (max-width: 800px) and (max-width: 600px) {
  .view-title{
    font-size: 25px;
   }

   .view-content{
     font-size: 17px!important;
   }
}

.greet{
  font-family: 'Roboto Condensed', sans-serif;
  color: #A52A2A;
  font-weight: bold;
}

.admin-cards{
  height: 200px;
}

.fac-card{
  background: linear-gradient(to right, #A52A2A, #d16363);
}

.std-card{
  background: linear-gradient(to right, #333BA5, #8289db);
}

.total-card{
  background: linear-gradient(to right, #f0c441, #f2d88b);
}

.sub-title{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-top: -5px;
  font-weight: bold;
}
/* tr{
  border: none;
}

td{
  padding: 5;
} */
