.spctop{
  margin-top: 60px;
}

.fac-profile{
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, #f0c441, #f2d88b);
}

.fac-profile-title{
  margin-top:-60px;
  height: 70px;
  background: linear-gradient(to right, #333BA5, #8289db);
}

.fac-title{
  color:white;
  margin-top: -10px;
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.fac-img{
  margin-top: 50px;
}

@media screen and (max-width: 800px) and (max-width: 600px) {
  .fac-title{
    font-size: 25px;
   }

   .fac-profile{
     height: 290px;
   }

   .fac-img{
     margin-top: -20px;
   }

   .data-title{
     font-size: 17px;
   }

   .data{
     font-size: 17px;
   }
}

@media screen and (max-width: 990px){
  .fac-img{
    margin-top: -20px;
  }
}

tr{
  border: none!important;
}

td{
  padding: 2px!important;
}
