.print-title{
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  margin-bottom: -25px;
}

.print-subtitle{
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5em;
}

table{
  line-height: 0em;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  margin-bottom: 3.5em;
}
