.spctop{
  margin-top: 60px;
}

.std-profile{
  width: 100%;
  height: 310px;
  background: linear-gradient(to right, #f0c441, #f2d88b);
}

.std-profile-title{
  margin-top:-60px;
  height: 70px;
  background: linear-gradient(to right, #333BA5, #8289db);
}

.std-title{
  color:white;
  margin-top: -10px;
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.std-img{
  margin-top: 50px;
}

@media screen and (max-width: 800px) and (max-width: 600px) {
  .std-title{
    font-size: 25px;
   }

   .std-profile{
     height: 290px;
   }

   .std-img{
     margin-top: -20px;
   }

   .data-title{
     font-size: 17px;
   }

   .data{
     font-size: 17px;
   }
}

@media screen and (max-width: 990px){
  .std-img{
    margin-top: -20px;
  }
}

.announce{
  background: linear-gradient(to right, #A52A2A, #d16363);
  height:300px;
}

.events{
  background: linear-gradient(to right, #333BA5, #8289db);
  height:300px;
}

.sub-title{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-top: -5px;
  font-weight: bold;
}

tr{
  border: none!important;
}

td{
  padding: 0px!important;
}
