/* TABLE */

table,td{
  border: 1px solid rgb(217, 217, 217)!important;
}

th{
  font-family: 'Roboto', sans-serif;
  color: white;
}

thead{
  background-color: #333BA5;
}

td{
  font-family: 'Hind', sans-serif;
  font-size: 14px;
}

.tbl-div{
height: 400px;
overflow-y: scroll;
}
